{% extends "base.html" %}
{% block body %}
  <h3>Available Sections</h3>
  <div class="list-group">
    {% for s in sections %}
      <a class="list-group-item list-group-item-action" href="{{ url_for('section_page', section_id=s['id']) }}">
        {{ s['name'] }} {% if s['description'] %} - {{ s['description'] }}{% endif %}
      </a>
    {% else %}
      <div class="alert alert-secondary">No sections defined yet. Admin can create sections.</div>
    {% endfor %}
  </div>
{% endblock %}
